
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300|Raleway:100,300&display=swap');

/* ==========================================
  以下、デザインを決める記述です。
  ※印で検索することで設定箇所へジャンプします。
   ========================================== */
body {
  background: #f3f3f3;
  /* ↑背景色 ※ */
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  /* 全体のフォント ※ */
  padding: 0;
  margin: 0;
  color: $text;
  font-size: 15px;
  line-height: 1.6;
}

section {
  overflow: hidden;
  width: calc(90vw - 40px);
  max-width: 1100px;
  margin: 40px auto;
  background: #ffffff;
  box-shadow: $shadow;
  display: flex;

  @include mq {
    flex-direction: column;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}


header {
  width: 120px;

  /* 以下backgroundから始まる数行がタイトル背景のグラデーションです ※ */
  background: rgb(246,255,147);
  background: linear-gradient(121deg, rgba(246,255,147,1) 0%, rgba(70,224,204,1) 100%);
  position: relative;

  h1 {

    color: #ffffff;
    font-family: "Spartan", "Noto Sans JP", sans-serif;
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transform: rotate(-90deg);
    transform-origin: right bottom;
    top: -10px;
    right: -15px;
    font-size: 40px;
    font-weight: 100;
    word-break: keep-all;
    width: 90vh;
    text-align: right;
}

@include mq(lg) {
  width: 80px;

}
@include mq {
  width: 100%;
  height: 50px;

  h1 {
    transform: none;
    width: 100%;
    top: auto;
    right: auto;
    bottom: -10px;
    font-size: 25px;
  }
}
}

.row {
  display: flex;
    flex: 1;

  @include mq {
    flex-direction: column;
  }
}

.col {
  flex: 1;
  padding: 40px 20px;
  & >*:first-of-type {
    margin-top: 0;
}
}

a {
  text-decoration: none;
  color: $main;
  /* ↑リンクの色　一括置換すると見出し色なども一緒に変わります ※ */
  transition: 0.3s;

  img {
    transition: 0.3s;
  }

  &:hover {
    color: $sub;
    /* ↑リンクをホバーしたときの色 ※ */
    transition: 0.3s;

    img {
      opacity: 0.7;
      transition: 0.3s;
    }
  }
}

a.btn {
    display: block;
    background: #46e0cc;
    color: white;
    padding: 3px 10px;
    margin: 20px 0;
    width: fit-content;

    &:hover {
      background: $sub;
    }
}

dl,
ol,
p,
ul {
  margin: 10px auto 20px;
  padding: 0;
  @include mq {
    margin: 15px auto;
  }
}

h2 {
  color: $main;
  font-weight: 100;
  font-size: 20px;
  margin: 30px 0 20px;
}

h3 {
  margin: 20px 0 10px;
  font-size: 18px;
  font-weight: 400;
}

.center {
  text-align: center;
}

dl.memo {
  dt {
    width: 100%;
    color: $main;
    padding: 1px 5px;
  }

  dd {
    border-left: 1px dotted #d0d0d0;
    margin: 0 0 0 1em;
    padding: 0 0 1em 1em;
  }
}

.box {
    background: #ecfaee;
    /* ↑色付きボックスの背景色 ※ */
    padding: 10px 15px;
    border-radius: 5px;
}

ul.sns-list {
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    max-width: 600px;

  li {
    margin-bottom: .3em;
    a {
    font-size: 12px;
    border: 1px solid;
    color: #333;
    padding: 4px 6px;
    border-radius: 20px;

      &:hover {
        background: #65676d;
        color: #ffffff;
      }

      @each $name, $color in $themecolor {
        &.#{$name}:hover {
          background: $color;
          border: 2px solid #{$color};
          color: #ffffff;
        }
      }
    }
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }

}
form.mailform {
  display: flex;
  flex-wrap: wrap;

  input {
    transition: 0.3s;

    &[type=mail],
    &[type=text] {
      width: 100%;
      font-family: YuGothic,'Yu Gothic','TsukuBRdGothic-Regular','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Cambria Math','Avenir',sans-serif;
      border: none;
      border: 1px solid #ddd;
      border-radius: 3px;
      background: #f7f7f7;
      margin: 5px 0;
      padding: 5px;
      font-size: 14px;

      &:focus {
        outline: none;
        background: white;
      }
    }

    &[type=submit] {
      border: none;
      padding: 7px 15px;
      font-size: 14px;
      background: $main;
      color: #ffffff;
      border-radius: 5px;
      margin: 10px 0;
      background: $main;

      &:hover {
        outline: none;
        background: $sub;
        cursor: pointer;
      }
    }
  }

  textarea {
    width: 100%;
    border: 1px solid #ddd;
    background: #f7f7f7;
    border-radius: 3px;
    font-family: YuGothic,'Yu Gothic','TsukuBRdGothic-Regular','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Cambria Math','Avenir',sans-serif;
    margin: 5px 0;
    padding: 5px;
    font-size: 14px;

    &:focus {
      outline: none;
      background: white;
    }
  }
}

footer {
  p {
    text-align: center;
    a {
      text-align: center;
      width: 100%;
      font-size: 12px;
      padding: 5px 10px;
      margin: 0 auto;
      display: block;
    }
  }


}

.only-phone {
  display: none;
  @include mq {
    display: block;
  }
}
