// 色設定
$main: #46e0cc;
$sub: #aefe7c;
$text: #333333;
$shadow: 0 1px 10px #313536;
$headerheight: 70px;
$phone-headerheight: 100px;
$oshare: 'Raleway', 'Noto Sans JP', sans-serif;
$shadow: 0 5px 20px -12px #69827d73;
$themecolor: (
  twitter: #1DA1F2,
  tumblr: #36465d,
  lineat: #00b900,
  youtube: #cd201f,
  note: #2dcdb5,
  amazon: #FF9900,
  marsh: #F3969A,
  skeb: #30B396,
  pixiv: #0096FA,
  booth: #FC4D50,
  fantia: #FF5600,
);
// ブレークポイント設定
$breakpoints: (
  xs: "screen and (max-width: 575px)",
  md: "screen and (max-width: 767px)",
  lg: "screen and (max-width: 991px)",
  xl: "screen and (max-width: 1199px)",
);
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.6em;
}